<% provide(:title, course_title(@current_course)) %>

<div class="page-header">
  <h1><%= course_title(@current_course) %>
  <small><%= @current_course.start_on %></small></h1>
</div>

<h2>Course Modules</h2>

<ul class="list-unstyled">
  <% @current_course.course_modules.each do |value| %>
    <div class="panel panel-default">
      <div class="panel-heading"><%= value["title"] %></div>
      <div class="panel-body">
        <div class="row">
          <% value["segments"].each do |segment| %>
            <div class="col-xs-6 col-md-6">
              <div class="thumbnail">
                <%= segment["label"] %>
                <%= segment["name"] %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
</ul>

<h2>Course Professors</h2>
<ul class="list-unstyled">
  <% @current_course.professors.each do |prof| %>
    <div class="module_row">
      <h3> <%= prof["first_name"] %> <%= prof["last_name"]%> </h3>
    </div>
  <% end %>
</ul>

